@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


body{
    overflow: hidden;
    min-height: 100vh;
    cursor: crosshair;
}

h3{ 
    text-align: center;
    font-size: 8rem;
    margin-top: 20px;
    user-select: none;
    z-index: 1;
    transition: 0.5s;
    font-family: sans-serif;
    animation: color 15s infinite linear;
}

.bubble {
    position: absolute;
    border-radius: 300px;
    background: rgba(255, 100, 45, 1);
    opacity: 0;
    animation: annim 8s forwards;
    filter: hue-rotate(0deg);
    user-select: none;
}

@keyframes annim{
    to{
        top: -250px;
        left: var(--left);
        opacity: 1;
        filter: hue-rotate(380deg);
    }
}

@keyframes color{
    0%{
        color: rgba(0, 0, 0, 0.788);
    }
    10%{
        color: rgba(146, 115, 197, 0.795);
    }
    20%{
        color: rgba(71, 0, 151, 0.795);
    }
    30%{
        color: rgba(184, 31, 214, 0.795);
    }
    40%{
        color: rgba(216, 57, 65, 0.795);
    }
    50%{
        color: rgba(199, 174, 35, 0.795);
    }
    60%{
        color: rgba(30, 207, 45, 0.767);
    }
    70%{
        color: rgba(53, 170, 199, 0.767);
    }
    80%{
        color: rgba(10, 36, 122, 0.788);
    }
    90%{
        color: rgba(103, 158, 221, 0.788);
    }
    100%{
        color: rgba(0, 0, 0, 0.788);
    }
}

.lk{
    bottom: 1%;
    left: 0%;
    position: fixed;
    font-family: 'Acme', sans-serif;
}